<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="OpenTechiz_Helloworld::helloworld" title="Helloworld" module="OpenTechiz_Helloworld" sortOrder="10" resource="OpenTechiz_Helloworld::helloworld" action="helloworld/index"/>
    </menu>
</config>
