<?xml version="1.0"?>
<config xmlns:xsi="http://wwww.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
	<default>
		<blog>
			<general>
				<template>blog_comment_notification_email_template</template>
			</general>
		</blog>
	</default>
</config>