<?xml version="1.0"?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
	<event name="blog_comment_prepare_save">
		<observer name="Notification" instance="OpenTechiz\Blog\Observer\Approval" />
	</event>
	<event name="blog_comment_mass_active_prepare_save">
		<observer name="MassNotification" instance="OpenTechiz\Blog\Observer\MassApproval" />
	</event>
	<event name="blog_post_prepare_save">
		<observer name="NewPost" instance="OpenTechiz\Blog\Observer\NewPost" />
	</event>
</config>